<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
        <th scope="col">Confirm</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0;i < books.length;i++){ %>

    <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= books[i].name %></td>
        <td><%= books[i].email %></td>
        <td><%= books[i].subject %></td>
        <td><%= books[i].messages %></td>
        <td><%= books[i].confirm %></td>
        <td>
            <button type="button" class="btn btn-amber btn-sm myModalButton"
                    data-target="myModal-<%= books[i].id %>" id="myBtn">Confirm
            </button>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>